<% provide(:title, "Sobre") %>
<h1>About</h1>
<p>
  Este microblog foi criado com ajuda do <a href="http://www.railstutorial.org/"><em>Ruby on Rails
  Tutorial</em></a> composto de um
  <a href="http://www.railstutorial.org/book">livro</a> e
  <a href="http://screencasts.railstutorial.org/">videos</a>
  que ensinam
  <a href="http://rubyonrails.org/">Ruby on Rails</a> de uma maneira super fácil.
</p>