<h1>Sample App</h1>

<p>Olá <%= @user.name %>,</p>

<p>
Bem vindo ao microblog experiment! Clique no link abaixo para ativar sua conta:
</p>

<%= link_to "Activate", edit_account_activation_url(@user.activation_token,
                                                    email: @user.email) %>