<h1>Microblox experiment</h1>

<p>Olá <%= @user.name %>,</p>

<p>
Bem vindo ao microblog experiment! Acesse o link abaixo para ativar sua conta:
</p>

<%= edit_account_activation_url(@user.activation_token, email: @user.email) %>